/* body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
}

.container {
  width: 400px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

h1 {
  text-align: center;
}

.subtitle {
  text-align: center;
  color: gray;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
} */

/* CHANGE */


/* 
body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
}

.layout {
  display: flex;
  width: 90%;
  margin: 20px auto;
  gap: 20px;
}

.form-section,
.preview-section {
  background: white;
  padding: 20px;
  width: 50%;
  border-radius: 8px;
}

h1 {
  text-align: center;
}

.card {
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 10px;
  position: relative;
  border-radius: 6px;
}

.remove-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background: red;
  color: white;
  border: none;
  cursor: pointer;
}

input,
textarea,
select,
button {
  width: 100%;
  margin-top: 8px;
  padding: 6px;
}

#preview-photo {
  display: none;
  border-radius: 50%;
  margin-bottom: 10px;
} */


/* CHANGE */

body {
  font-family: "Arial", sans-serif;
  background-color: #f4f6f8;
}

.layout {
  display: flex;
  width: 90%;
  margin: 20px auto;
  gap: 20px;
}

.form-section,
.preview-section {
  background: white;
  padding: 20px;
  width: 50%;
  border-radius: 6px;
}

h1 {
  margin-bottom: 5px;
}

h2 {
  margin-top: 20px;
  font-size: 16px;
}

input,
textarea,
button {
  width: 100%;
  margin-top: 8px;
  padding: 6px;
  font-size: 14px;
}

.preview-section {
  color: black;
}

#p-name {
  font-size: 22px;
  font-weight: bold;
}

#p-contact {
  font-size: 12px;
  margin-bottom: 10px;
}

ul {
  padding-left: 18px;
}

li {
  font-size: 14px;
  margin-bottom: 5px;
}

hr {
  border: none;
  border-top: 1px solid #000;
  margin: 10px 0;
}
